.cuadro{
	height: 40px;
	width: 40px;
}
/* PALETA #1 */
#color1-paleta1{background: #FF6363;}
#color2-paleta1{background: #217AB2;}
#color3-paleta1{background: #49B9FF;}
#color4-paleta1{background: #CCCA26;}
#color5-paleta1{background: #B2B12A;}
